/*********************/
/***** CSS RESET *****/
/*********************/
*{
	margin: 0;
	padding: 0;
	font-family: "Arial", Gadget, sans-serif;
}

/******************/
/***** HEADER *****/
/******************/
body{
	background-color: #C9463D;
}

header{
	background-color: #330136;
	padding-bottom: 1.2em;
}

nav li{
	display: inline-block;
}

nav a:hover{
	background-color: #962E40;
}

nav a{
	margin: 0em -0.25em 0em 0.25em;
	padding: 1em;
	/* overflow: auto; */
	background-color: #5E1742;
	text-decoration: none;
	color: white;
}

nav a:active{
	border-bottom: 0.125em solid #FF5E35;
}

#logo{
	display: inline-block;
	width: 15%;
	margin: 0.25em 0.25em 1.0625em 0.25em;
}

#loginButton{
	position: absolute;
	right: 0.50em;
	/* transform: translate(0%, 0%); */
}

/******************/
/*****  BODY  *****/
/******************/

/* Top of all page */
#titleTop{
	color: white;
	font-size: 2em;
	padding: 0.9375em 0.9375em 0 0.9375em;
}
/* Top of all page */

.big{
	font-size: 1.5em;
}

/* CONTACT PAGE */
#topBlock, #formBlock{
	display: block;
	padding: 10px;
	margin: 2.5em 1.25em 2.5em 1.25em;
	background-color: #FFF;
	border: 1.25em solid #330136;
	border-radius: 0.625em;
}


#form1 input, textarea{
	margin-top: 20px; 
}

#form1 input[type], select, textarea{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 0.25em;
	box-sizing: border-box;
}

#whiteBlock input{
	display: inline-block;
	width: 50%;
}

#form1 input[type=submit], input[type=reset]{
	font-size: 1.875em;
	color: #fff;
	background-color: #5E1742;
}

#form1 input[type=reset]{
	color: black;
	background-color: #aaa;
}

#form1 input[type=submit]:hover{
	background-color: #962E40;
}

#form1 input[type=reset]:hover{
	background-color: #ddd;
}

/* CONTACT PAGE */


/* LOGIN PAGE */
#loginForm{
	display: block;
	padding: 10px;
	margin: 40px;
	border-radius: 0.25em;
	border: 0.3125em solid #fff; 
	/* position: relative; */
	background-color: #330136;
	text-align: center;
	color: #fff;
}

#loginForm input{
	display: block;
	position: relative;
	transform: translate(-50%, 0%);
	left: 50%;
	text-align: center;
	margin: 10px;
}

#loginForm input[type=text], input[type=password], input[type=submit]{
	margin-top: 30px;
	width: 50%;
	padding: 12px 20px;
	border: 1px solid #bbb;
	border-radius: 0.25em;
	box-sizing: border-box;
}

#loginForm input[type=submit] {
	margin-top: 30px;
}

#recover{
	margin-top: 30px;
}

#recover a{
	margin-top: 5px;
	text-decoration: none;
	display: block;
}
/* LOGIN PAGE */


/* TARIFS PAGE */
table{
	width: 100%;
	/* height: 100%; */
	background-color: lightgrey;
	font-size: 1.25em;
	text-align: center;
}

.grey, th{
	background-color: grey;
}

/* TARIFS PAGE */


/* INDEX PAGE */
h1{
	/* margin: 0px 0px 0px 0px; */
	color: #FF5E35;
	font-size: 5em;
}

h2{
	font-size: 2.5em;
}

#aBlock{
	color: #C9463D;
	text-shadow: 0.125rem 0.125rem #000;
	padding: 12em 3.125em 12em 3.125em;
	/* width: 100%; */
	text-align: center;
	background-image: url("../img/crossfit1.jpg");
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}

/****** interBlock ******/
.interBlock{
	font-style: italic;
	color: #fff;
	font-size: 1.5em;
	background-color: #5E1742;
	padding: 9rem 2rem 9rem 2rem;
	text-shadow: 0 0 20px #FF5E35;
}

#eBlock{
	text-align: right;
}
/****** interBlock ******/


/****** orangeBlock  ******/
.orangeBlock{
	font-size: 1.6em;
	background-color: #FF5E35;
	padding: 2.0em;
}

.quoteBlock{
	background-color: #962E40;
}

#bBlock{
	text-shadow: 0.1rem 0.1rem 0.125rem #fff;
	padding-right: 35%;
}

#dBlock{
	text-shadow: 0.1rem 0.1rem 0.125rem #000;
	color: white;
	text-align: right;
	padding-left: 35%;
}

/* .triangleRight { */
/* 	display: inline-block; */
/* 	position: relative; */
/* 	/1* transform: translate(0%, 0%); *1/ */
/* 	width: 0; */
/* 	height: 0; */
/* 	border-top: 90px solid transparent; */
/* 	border-left: 90px solid #FF5E35; */
/* 	border-bottom: 90px solid transparent; */
/* } */

/* .triangleLeft { */
/* 	display: inline-block; */
/* 	position: relative; */
/* 	width: 0; */
/* 	height: 0; */
/* 	border-top: 90px solid transparent; */
/* 	border-right: 90px solid #FF5E35; */
/* 	border-bottom: 90px solid transparent; */
/* } */

/****** orangeBlock  ******/

/* INDEX PAGE */

/******************/
/***** FOOTER *****/
/******************/

footer{
	display: block;
	background-color: #330136;
	height: 30rem;
	color: white;
}

/****** bottomButton  ******/
#bottomButton a{
	/* display: inline-block; */
	/* height: 50px; */
	/* margin-bottom: 3em; */
	display: inline-block;
	margin: 0;
	padding: 1.2em 0em 1.2em 0em;
	width: 50%;
	position: absolute;
	transform: translate(0em, -1em);
	text-align: center;
	font-size: 1.5em;
}

#callButton a{
	color: #000;
	background-color: #962E40;
}

#emailButton a{
	/* display: block; */
	position: absolute;
	right: 0;
	background-color: #5E1742;
}

#bottomButton a:hover{
	background-color: #FF5E35;
	text-shadow: 0.125em 0.125em 0.1875em #5E1742;
}
/****** bottomButton  ******/

.footerBlock > div{
	background-color: #5E1742;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	width: 18.75rem;
	height: 18.75rem;
}

#navig, #social{
	transform: translate(0%, 30%);
}

#navig{
	margin-left: 30px;
	/* position: absolute; */
	/* margin: 50px 0 50px 0; */
	/* transform: translate(0px, 15%); */
	/* left: 5px; */
	/* padding: 10px; */
	/* left: 0.25em; */
}

#navig a{
	display: block;
	position: relative;
	width: 300px;
	margin: 0;
	padding: 5px 0px 5px 0px;
}

.listTitle{
	text-align: center;
}

#social{
	position: absolute;
	margin-right: 35px;
	right: 0%;
}

#copyR{
	/* display: block; */
	/* position: none; */
	/* bottom: 50px; */
	/* width: 100%; */
	/* transform: translate(50%, 0%); */
	/* bottom: 0%; */
	position: relative;
	top: 7.5rem;
	text-align: center;
	/* bottom: 0; */
}
