/*********************/
/***** CSS RESET *****/
/*********************/
*{
	margin: 0px;
	padding: 0px;
	font-family: "Arial", Gadget, sans-serif;
}

/******************/
/***** HEADER *****/
/******************/
body{
	background-color: #C9463D;
}

header{
	background-color: #330136;
	padding-bottom: 1.2em;	
	/* width: 1wv; */
}

nav li{
	display: inline-block;
}

nav a:hover{
	background-color: #962E40;
}

nav a{
	/* margin-bottom: 1.2em; */
	/* margin-right: -0.25em; */
	/* margin-left: 0.25em; */
	margin: 0em -0.25em 0em 0.25em;
	padding: 1em;
	/* overflow: auto; */
	background-color: #5E1742;
	text-decoration: none;
	color: white;
}

/* nav{ */
	/* margin-left: 3px; */
	/* padding-bottom: 1.2em; */
/* } */

#logo{
	display: inline-block;
	width: 15%;
	margin: 0.25em 0.25em 1.0625em 0.25em;
}

#loginButton{
	position: absolute;
	right: 0.50em;
	/* transform: translate(0%, 0%); */
}

/******************/
/*****  BODY  *****/
/******************/

h1{
	margin: 0px 3wv 0px 3wv;
	color: #FF5E35;
	/* text-shadow: 0.125rem 0.125rem #fff; */
	font-size: 4em;
}

h2{
	margin: 0px 10px 0px 2wh;
	font-size: 2.5em;
}

#aBlock{
	color: #C9463D;
	text-shadow: 0.125rem 0.125rem #000;
	padding: 250px 100px 250px 50px;
	text-align: center;
	background-image: url("/img/crossfit1.jpg");
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}

/* contactpage */

#titleTop{
	color: white;
	font-size: 2em;
	padding: 10px;
}

.big{
	font-size: 1.5em;
}

#loginForm{
	display: block;
	padding: 10px;
	margin: 40px;
	/* position: relative; */
	/* transform:  translate(x, y);e; */
	background-color: #330136;
	text-align: center;
	color: white;
}

h3{
	font-size: 2em;
	padding: 20px;
}

/* #whiteBlock{ */
/* 	display: inline-block; */
/* } */

#topBlock{
	display: block;
	padding: 10px;
	margin: 40px;
	/* position: relative; */
	/* transform:  translate(x, y);e; */
	background-color: #FFF;
	border: 20px solid #330136;
}

input{
	margin-top: 20px; 
}

textarea{
	margin-top: 20px;
}

#loginForm input{
	display: block;
	position: relative;
	transform: translate(170%, 0px);
	text-align: center;
	margin: 10px;
	/* right: 50%; */
}

#connectButton{
	position: relative;
	transform: translate(170%, 0);
}

#recover a{
	text-decoration: none;
	display: block;
}

/* input[type=text]:focus { */
/* 	border: 3px solid #555; */
/* } */

#loginForm input[type=text] {
  border: 2px solid black;
  border-radius: 4px;
  /* width: 100%; */
  padding-top: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

#loginForm input[type=submit] {
  border: 2px solid black;
  border-radius: 4px;
  /* width: 100%; */
  padding: 20px 50px 20px 50px;
  margin: 20px 0;
  box-sizing: border-box;
}

#loginForm input[type=password] {
  border: 2px solid black;
  border-radius: 4px;
  /* width: 100%; */
  padding-top: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* input[type=text] { */
/*  	background-color: #white; */
/* 	color: black; */
/* } */

table{
	width: 100%;
	/* height: 100%; */
	background-color: lightgrey;
	font-size: 20px;
	text-align: center;
}

.grey{
	background-color: grey;
}

th{
	background-color: grey;
}

#formBlock{	
	/* color: white; */
	display: block;
	padding: 10px;
	margin: 40px;
	/* position: relative; */
	/* transform:  translate(x, y);e; */
	background-color: #FFF;
	border: 20px solid #330136;
}

/* contactpage */



/****** interBlock ******/
.interBlock{
	font-style: italic;
	color: #fff;
	font-size: 1.5em;
	background-color: #5E1742;
	padding: 150px 10px 150px;
}

#eBlock{
	text-align: right;
}
/****** interBlock ******/


/****** orangeBlock  ******/
.orangeBlock{

	list-style-type: square;
	font-size: 25px;
	background-color: #FF5E35;
	padding: 40px;
}

.quoteBlock{
	background-color: #962E40;
}

#bBlock{
	text-shadow: 0.050rem 0.050rem #fff;
	color: #000;
	/* padding: 0px 30% 0px 0px; */
	padding-right: 30%;
}

#dBlock{
	text-shadow: 0.125rem 0.125rem #000;
	color: white;
	/* padding: 0px 0px 0px 30%; */
	text-align: right;
	padding-left: 30%;
}

/* .triangleRight { */
/* 	display: inline-block; */
/* 	position: relative; */
/* 	/1* transform: translate(0%, 0%); *1/ */
/* 	width: 0; */
/* 	height: 0; */
/* 	border-top: 90px solid transparent; */
/* 	border-left: 90px solid #FF5E35; */
/* 	border-bottom: 90px solid transparent; */
/* } */

/* .triangleLeft { */
/* 	display: inline-block; */
/* 	position: relative; */
/* 	width: 0; */
/* 	height: 0; */
/* 	border-top: 90px solid transparent; */
/* 	border-right: 90px solid #FF5E35; */
/* 	border-bottom: 90px solid transparent; */
/* } */

/****** orangeBlock  ******/


/****** bottomButton  ******/
#bottomButton a{
	/* display: inline-block; */
	/* height: 50px; */
	width: 50%;
	position: absolute;
	color: white;
	transform: translate(0%, -20%);
	text-align: center;
	font-size: 1.5em;
	
}

#callButton a{
	color: black;
	left: 0px;
	background-color: #962E40;
}

#emailButton a{
	right: 0px;
	background-color: #5E174²2;
}

#bottomButton a:hover{
	background-color: #FF5E35; ;
}
/****** bottomButton  ******/


/******************/
/***** FOOTER *****/
/******************/

footer{
	background-color: #330136;
	height: 400px;
	color: white;
	/* margin: 20px; */
}

#navig{
	background-color: #5E1742;
	display: inline-block;
	position: absolute;
	width: 300px;
	height: 200px;
	margin: 50px;
	/* transform: translate(0px, 15%); */
	/* left: 5px; */
	padding: 10px;
}

#navig a{
	display: block;
	position: relative;
	width: 300px;
	padding: 5px 0px 5px 0px;
}

#listTitle{
	position: relative;
	left: 100px;
	text-align: center;
}

#social{
	text-align: center;
	display: inline-block;
	position: absolute;
	/* transform: translate(0%, 15%); */
	margin: 50px;
	right: 5px;
	background-color: #5E1742;
	padding: 0px;
	width: 300px;
	height: 300px;
}

#social p{
	padding-top: 10px;
}
